* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.5px;
}

/* styling the outer div to center login and signup pages' content */
.outer{
  margin: 0 auto;
  margin-top: 100px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* center login page heading, signup page heading, and error messages */
.center h3, p.error{
  text-align: center;
}

.error_main {
  display: flex;
  align-items: center;
  justify-content: center
}

.error_main:after {
  content: "";
  display: table;
  clear: both;
}

/* styling the login and signup form fields */
.center input[type=text], input[type=password]{
  width: 200px;
  height: 25px;
  padding: 2px 6px;
  margin: 2px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.center input[type=submit]{
  width: 215px;
  height: 30px;
  text-align: center;
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
  border: none;
  border-radius: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.center input[type=submit]:hover{
  background-color: #f6bc6d;
  background-image: none;
  cursor: pointer;
  font-weight: bold;
}

/* styling the container to display individual posts */
.post_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  height: 300px;
  width: 450px;
}

/* styling the forms to view and edit individual posts */
.post_form input[type=text]{
  width: 350px;
  height: 40px;
  padding: 2px 6px;
  margin: 2px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.post_form select{
  width: 100px;
  padding: 2px 6px;
  margin: 2px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.post_form input[type=submit]{
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
  border: none;
  border-radius: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.post_form input[type=submit]:hover{
  background-color: #e58c8a;
  background-image: none;
  cursor: pointer;
  font-weight: bold;
}

/* styling the nav bar */
nav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

nav li{
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
}

/* styling the border under the nav bar */
hr.nav_bottom{
  border-top: 0.5px dotted #2F4353;
}

/* styling the main layout of the feed and each profile */
.row{
  padding-top: 30px;
  margin: 0px;
  display: flex;
  align-items: center;
}

/* clear floats after each column so posts appear side-by-side */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* creating a 3 column layout */
.column{
  float: left;
  width: 30%;
  padding: 10px 15px;
}

/* creating a 'card' for each post */
.post{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 18px;
  text-align: left;
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
  height: 145px;
  width: 350px;
  font-size: 12px;
}

/* styling the empty card */
.post_new{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
  height: 145px;
  width: 350px;
  font-size: 22px;
}

/* styling navbar links */
nav a:link{
  color: #466db2;
  text-decoration: none;
}
nav a:visited{
  color: #466db2;
  text-decoration: none;
}

nav a:hover{
  color: #000000;
}

nav a:active{
  color: #FF8C00;
}

/* styling other links */
.post a:link, .post_new a:link{
  color: #466db2;
  text-decoration: none;
}

.post a:visited, .post_new a:visited{
  color: #466db2;
  text-decoration: none;
}

.post a:hover, .post_new a:hover{
  font-weight: bolder;
}

.post p a:hover{
  font-weight: bolder;
  border-bottom: 1px solid #cccccc;
}

.post p a:active, .post_new a:active{
  color: #000000;
}
