<!-- signup form -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <title>Sign Up | Weekly</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <hr class="nav_bottom">
    <main>
      <div class="outer">
      <div id="center">
        <h3>Create Account</h3>
        <form action="/signup" method="POST" autocomplete="off">
          <p><input type="text" name="name" placeholder="Full Name" required></p>
          <p><input type="text" name="username" placeholder="Username" required></p>
          <p><input type="password" name="password" placeholder="Password" required></p>
          <% if flash[:message] %>
            <% flash[:message].each do |message| %>
              <p class="error"><em><%= message %></em></p>
            <% end %>
          <% end %>
          <input type="submit" value="SIGN UP">
        </form>
      </div>
      </div>
    </main>
  </body>
</html>
