<!-- displays cards with links to all content categories -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <title>Posts | Weekly</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/users/<%= current_user.username %>">Profile</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/posts">Home</a></li>
      </ul>
    </nav>
    <hr class="nav_bottom">

    <main>
      <div class="row">
        <% if Post.where(medium: "Article").count > 0 %>
          <div class="column">
            <div class="post_new">
              <p><a href="/explore/posts/articles">Articles</a></p>
            </div>
          </div>
        <% end %>

        <% if Post.where(medium: "Blog Post").count > 0 %>
          <div class="column">
            <div class="post_new">
              <p><a href="/explore/posts/blog-posts">Blog Posts</a></p>
            </div>
          </div>
        <% end %>

        <% if Post.where(medium: "Book").count > 0 %>
          <div class="column">
            <div class="post_new">
              <p><a href="/explore/posts/books">Books</a></p>
            </div>
          </div>
        <% end %>

        <% if Post.where(medium: "Podcast").count > 0 %>
          <div class="column">
            <div class="post_new">
              <p><a href="/explore/posts/podcasts">Podcasts</a></p>
            </div>
          </div>
        <% end %>

        <% if Post.where(medium: "Video").count > 0 %>
          <div class="column">
            <div class="post_new">
              <p><a href="/explore/posts/videos">Videos</a></p>
            </div>
          </div>
        <% end %>
      </div>
    </main>

  </body>
</html>
